.rating-stats {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 1rem;
}

.rating-stats p {
    margin: 0;
}

lux-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

lux-list-item {
    width: 80%;
    margin: 0.5rem 0;
    padding: 0.5rem;
}
